@media (max-width: 768px) {
    /* Стили для экранов с шириной менее 768 пикселей */
    .ant-table-wrapper {
      overflow-x: auto; /* Добавляем горизонтальную прокрутку к таблице */
    }
  
    .ant-table-column-title {
      font-size: 14px; /* Уменьшаем размер шрифта заголовков столбцов */
    }
  
    .ant-table-cell {
      font-size: 12px; /* Уменьшаем размер шрифта ячеек таблицы */
    }
  
    /* Скрываем столбец "Действия" на маленьких экранах */
    .ant-table-column-action {
      display: none;
    }
  
    /* Стили для формы пополнения баланса */
    .CardForm {
      width: 200%; /* Занимаем всю ширину экрана */
    }
  }